<a href="https://colab.research.google.com/github/Angiey1/python-course/blob/main/Semana1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Tarea semana 1 - Python**
**Angie Yépez**

In [1]:
import pandas as pd

In [9]:
df = pd.DataFrame([{"a":24,"b":25}])
df

    a   b
0  24  25

In [6]:
nombre = "Angie"
edad = 23
oracion = "Mi nombre es " + nombre + " y tengo "  + str(edad) + " años"
oracion

'Mi nombre es Angie y tengo 23 años'

In [7]:
print("Mi nombre es ",nombre ," y tengo ", str(edad), " años")

Mi nombre es  Angie  y tengo  23  años